*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;   
    width: 100%; 
    background-color: black;

}

h1{
    margin-left: 5rem;
    margin-right: 2rem;
    padding: 0.4rem;
    font-size: 2rem;
}
nav{
    background-color: black;
    display: flex;
    border: none;
    font-size: 1rem;
    color: white;
    width: 100%;
}
a{
    color: lightgrey;
    text-decoration:none;
    margin-right: 1rem;
    font-size: 1rem;
    padding-top: 1rem;
}
button{
    color: white;
    background-color: #18a2b8;
    font-size: 1rem;
    width: 6rem;
    border: none;
    padding: 0;
    font-weight: bold;
    height: 2rem;
    margin-top: 0.6rem;
    cursor: pointer;
    margin-right: 6rem;
}
.btncontainer{
    background-color: black;
    justify-content: flex-end;
}

