*{
    margin: o;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    width: 100%;
}
h1{
    width: 45%;
    background-color: black;
    color: white;
    margin-left: 4rem;
    justify-content: center;
}
header > p{
    margin-left: 16rem;
    font-size: 1.5rem;
}
main{
    display: flex;
}

.userDataContainer{
    width: 50%;
    border: black solid 0.3rem;
    margin-left: 4rem;
    align-items: center;
    padding: 1rem;
}
.userProfilePic{
    border-radius: 50%;
    border: black solid 0.3rem;
    width: 6rem;
    display: block;
}
a > userProfilePic{
    display: block;
}

.userContainer{
    width: 59%;
    border: black solid 0.3rem;
    margin-bottom: 1rem;
}
.userFirstRow{
    display: flex;
}
.userFirstRow h3{
    margin-left: 1rem;
    width: 25%;
}
.likeButton{
    color: black;
    height: 2rem;
    width: 4.7rem;
    font-weight: bold;
    background-color: #ffd966;
    border: black solid 0.2rem;
    box-shadow: 0.1rem 0.2rem black;
    margin: auto;
}
.userLikes{
    margin: auto;
}
.userContainer > h3{
    margin-left: 1rem;
    margin: 1rem;
    font-weight: normal;
}